<main class="container">
    <section class="banner__text">
        <h1>Page</h1>
        <p>Beautiful setting</p>
    </section>
    <section class="btns">
        <button class="btn login__btn">Login</button>
        <button class="btn signup__btn">Sign Up</button>
    </section>
    <section class="form__container">
        <aside class="signup-form__wrapper modal">  {{!-- Hide the Form. --}}
            <div class="x-btn signup-x">
                &times;
            </div>
            <div class="form__header">
                <h1>Moutainview</h1>
                <h3>Join Us</h3>
            </div>
            <form action="" class="form">
                <section class="input__group">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username" />
                </section>
                <section class="input__group">
                    <i class="far fa-envelope"></i>
                    <input type="email" placeholder="E-mail" />
                </section>
                <section class="input__group">
                    <i class="fas fa-key"></i>
                    <input type="password" placeholder="Password" />
                </section>
                <button type="button">Sign Up</button>
            </form>
        </aside>
        <aside class="login-form__wrapper modal"> {{!-- Hide the Form. --}}
            <div class="x-btn login-x">
                &times;
            </div>
            <div class="form__header">
                <h1>Moutainview</h1>
                <h3>Login</h3>
            </div>
            <form action="" class="form">
                <section class="input__group">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Username" />
                </section>                
                <section class="input__group">
                    <i class="fas fa-key"></i>
                    <input type="password" placeholder="Password" />
                </section>
                <button type="button">Login</button>
            </form>
        </aside>
    </section>
</main>


